{% extends "base.html" %}

{% block content %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">{{ store_title }}</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('admin_home') }}"><span class="glyphicon glyphicon-plus"></span> Admin </a></li>
      </ul>
    </div>
  </nav>

    <div align="center">
          <h3>{{ category }}</h3>
            <div>
              {% for item_name, item_id in products.items() %}
                  <a class="btn btn-primary custom" href="{{ url_for('item_detail', id=item_id) }}">{{ item_name }}</a>
                  </br></br>
              {% endfor %}
               <a class="btn btn-default" href="{{ url_for('home') }}">Main menu</a>
            </div>
   </div>
   
{% endblock %}
